@inherits LayoutComponentBase
@using BlazorFirstApp.Pages.NavBar
@using BlazorFirstApp.Pages.Footer

<div class="main-wrapper">
    <NavBar></NavBar>
   <div class="page-wrapper">
        <div class="page-content">
            @Body
            <Footer></Footer>
        </div>
    </div>
</div>